.layout_menu {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--el-bg-color);
  border-right: 1px solid #f0f0f0;
  .layout_menu_logo {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
  }
}
.layout_content {
  width: calc(100% - 200px);
  height: 100%;
  .layout_content_header {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background-color: var(--el-bg-color);
    border-bottom: 1px solid #f0f0f0;
  }
  .layout_content_tabs {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    background-color: var(--el-bg-color);
    border-bottom: 1px solid #f0f0f0;
  }
  .layout_content_main {
    width: 100%;
    height: calc(100% - 140px);
    padding: 10px;
  }
  .layout_content_footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--el-bg-color);
    border-top: 1px solid #f0f0f0;
  }
}
.el-menu {
  border: none;
}
.sy122 {
}
